<%= form_for(@portfolio_item) do |form| %>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :title, style: "display: block" %>
        <%= form.text_field :title, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :subtitle, style: "display: block" %>
        <%= form.text_field :subtitle, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.file_field :main_image %>
      </div>

      <div class="form-group">
        <%= form.file_field :thumb_image %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group", rows: 13 >
        <%= form.label :body, style: "display: block" %>
        <%= form.text_area :body, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <h2>Technologies Used:</h2>
    <div>
      <%= form.fields_for :technologies do |technology_form| %>
        <div class="form-group">
          <%= technology_form.label :name %>
          <%= technology_form.text_field :name %>
        </div>
      <% end %>
    </div>
  </div>

  <div>
    <%= form.submit 'Save Portfolio Item', class: 'btn btn-primary btn-block' %>
  </div>
<% end %>
