<header class="mb-auto">
  <div>
    <h3 class="float-md-start mb-0">Igor Alves Arantes</h3>
    <nav class="nav nav-masthead justify-content-center float-md-end">
      <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" <%= link_to "Home", root_path %></a>
      <a class="nav-link fw-bold py-1 px-0" <%= link_to "About Me", about_me_path %></a>
      <a class="nav-link fw-bold py-1 px-0" <%= link_to "Contact", contact_path %></a>
      <a class="nav-link fw-bold py-1 px-0" <%= link_to "Blog", blogs_path %></a>
      <a class="nav-link fw-bold py-1 px-0" <%= link_to "Portfolio", portfolios_path %></a>
    </nav>
  </div>
</header>